In [2]:
name = input("請輸入姓名")
chinese_grade = input("請輸入國⽂成績")
english_grade = input("請輸入英⽂成績")
print("{0:8}{1:>5}{2:>5}" .format("姓名","國⽂","英⽂"))
print("{0:<10}{1:>6}{2:>6}" .format(name,chinese_grade,english_grade))

請輸入姓名minwen
請輸入國⽂成績100
請輸入英⽂成績200
姓名         國⽂   英⽂
minwen       100   200

In [4]:
8 / 7.0
8 + (8 + 7j)
"---"
type(8 / 7.0)
type(8 + (8 + 7j))
type("---")

str

In [5]:
'I am loving it!'
'I\'m loving it!'
'I don\'t think you\'ll ever be just "anybody".'
"I don't think you'll ever be just \"anybody\"."

'I don\'t think you\'ll ever be just "anybody".'

In [6]:
str1 = "Hello!" + "How Are You?"
print(str1)

Hello!How Are You?

In [7]:
str2 = "Hello!" * 3
print(str2)

Hello!Hello!Hello!

In [8]:
str3 = "Hello!\nHow Are You?"
print(str3)

Hello!
How Are You?

In [10]:
print("I'm" + " loving" + " it!")

I'm loving it!

In [11]:
print ("I'm loving it" + "!" * 3)

I'm loving it!!!

In [12]:
str = "ABCDEFGHIJK"
print(str[0])
print(str[-2])

A
J

In [13]:
print(str[:7:2])

ACEG

In [14]:
print(str[:2:2])

A

In [15]:
str1 = "Do \none \nthing \nat a time!"
print(str1.split())
print(str1.split( ' ', 2 ))

['Do', 'one', 'thing', 'at', 'a', 'time!']
['Do', '\none', '\nthing \nat a time!']

In [16]:
str = "The first wealth is health! Health is important!"
print ("{},長度是{}" .format(str, len(str)))
print(str.upper())
print(str.lower())
print("health".capitalize())
str.islower()
str.count("health")
str.strip("h!")
str.replace("important", "重要")

The first wealth is health! Health is important!,長度是48
THE FIRST WEALTH IS HEALTH! HEALTH IS IMPORTANT!
the first wealth is health! health is important!
Health

'The first wealth is health! Health is 重要!'

In [24]:
from datetime import date
sys_date = date.today()
print(sys_date)
print (type(sys_date))

2018-10-19
<class 'datetime.date'>

In [23]:
from datetime import date
start_of_2017 = date(2017, 1, 1)
end_of_2017 = date(2017, 12, 31)
start_of_2017
end_of_2017

datetime.date(2017, 12, 31)

In [25]:
from datetime import date
start_of_2017 = date(2017, 1, 1)
start_of_2018 = start_of_2017.replace(year = 2018)
start_of_2018

datetime.date(2018, 1, 1)

In [26]:
from datetime import date
start_of_2017 = date(2017, 1, 1)
end_of_2017 = start_of_2017.replace(month = 12, day = 31)
days_dff = end_of_2017 - start_of_2017
days_dff.days

364

In [27]:
from datetime import time
sleep_time = time(23, 0, 0)
sleep_time
type(sleep_time)

datetime.time

In [28]:
from datetime import time
sleep_time = time(23, 0, 0)
wake_up_time = sleep_time.replace(hour = 7)
wake_up_time

datetime.time(7, 0)

In [29]:
from datetime import datetime
sys_datetime = datetime.now()
sys_datetime
type(sys_datetime)

datetime.datetime

In [30]:
from datetime import datetime
start_of_2017 = datetime(2017, 1, 1, 0, 0, 0)
start_of_2017

datetime.datetime(2017, 1, 1, 0, 0)

In [31]:
from datetime import datetime
start_of_2017 = datetime(2017, 1, 1, 0, 0, 1)
end_of_2017 = start_of_2017.replace(month = 12, day = 31, hour = 23, minute = 59, second = 59)
end_of_2017

datetime.datetime(2017, 12, 31, 23, 59, 59)

In [32]:
from datetime import datetime
start_of_2017 = datetime(2017, 1, 1, 0, 0, 1)
end_of_2017 = start_of_2017.replace(month = 12, day = 31, hour = 23, minute = 59, second = 59)
date_time_diff = end_of_2017 - start_of_2017
date_time_diff.days
date_time_diff.seconds

86398

In [34]:
print (48.195 * 0.62137)

29.94692715

In [36]:
my_height = 160
print (my_height)

160

In [38]:
my_weight = 60
print (my_weight)

60

In [42]:
my_height = 160
my_weight = 60
bmi = my_weight / (my_height / 100)**2
print(bmi)

23.437499999999996